---
pagination: false
---
{% extends "layouts/base.njk" %}
{% block content %}
<article>
  <header>
    <p class="muted">{{ date | dateReadable }} • {{ author }} • {{ section }}</p>
    <h1>{{ title }}</h1>
    {% if image %}
      <img src="{{ image }}" alt="{{ title }}">
    {% endif %}
    {% if summary %}<p class="muted">{{ summary }}</p>{% endif %}
  </header>

  <div class="content">
    {{ content | safe }}
  </div>
</article>
{% endblock %}